* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  /* border: 1px solid black; */
}
.background {
  background-color: #a3c4f3;
  height: 100vh;
}
.header {
  display: flex;
  padding: 2em 4em;
  justify-content: space-between;
}
.header p:first-child {
  font-size: 1.2rem;
  font-weight: 700;
}
.heroplants {
  height: 80%;
  width: 40%;
}
.heroplants svg {
  margin-top: 15rem;
  margin-left: 4em;
}
.registerContainer {
  display: flex;
  margin: 0 auto;
  height: 80%;
}
.register-wrapper {
  width: 25%;
  margin: 14em auto;
}
input {
  color: black;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  width: 100%;
}
button {
  width: 100%;
  margin-top: 1em;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #cfbaf0;
  padding: 0.5em;
  border: none;
  border-radius: 10px;
}
button:hover {
  background-color: #9b6aeb;
}
